@model ML.Usuario
@{
    ViewData["Title"] = "NewPassword";
    Layout = null;
}


<link href="~/css/Login.css" rel="stylesheet">

<html>
<head>

</head>

<body>
	<center>
		<div class="row">
			<div class="col-md-6 mx-auto p-0">
				<div class="card">
					<div class="login-box">
						<div class="login-snip">
							<label class="tab">Olvide contraseña</label>

							@using (Html.BeginForm("Actualizar", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
							{
								@Html.HiddenFor(model => Model.Email);
								<label>Bienvenido:</label>
								<label id="user" name="email" type="text">@Model.Email</label>
								<br /><br />
								<div class="group">
									<label for="user" class="label">Su nueva contraseña</label>
									<input id="user" name="password" type="text" class="input" placeholder="Ingrese su nueva contraseña">
								</div>
								<br />
								<input type="submit" class="button" value="Validar">
							}

						</div>
					</div>
				</div>
			</div>
		</div>
	</center>
</body>
</html>

