.product-grid {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

    .product-grid .product-image {
        overflow: hidden;
        position: relative;
    }

        .product-grid .product-image a.image {
            display: block;
        }

        .product-grid .product-image img {
            width: 100%;
            height: auto;
        }

        .product-grid .product-image:hover .pic-1 {
            opacity: 0;
            transition: all 0.5s ease 0s;
        }

.product-image .pic-2 {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease 0s;
}

.product-grid .product-image:hover .pic-2 {
    opacity: 1;
}

.product-grid .product-new-label,
.product-grid .product-sale-label {
    color: #fff;
    background: #ff8700;
    font-size: 13px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    width: 50px;
    height: 20px;
    padding: 1px 0 0 10px;
    transform: rotate(-90deg);
    position: absolute;
    top: 15px;
    right: -11px;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 20% 50%, 0 0);
}

.product-grid .product-sale-label {
    background: #3F51B5;
    right: 12px;
}

    .product-grid .product-sale-label.sale {
        right: -11px;
    }

.product-grid .product-links {
    font-size: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 0;
    left: 0;
}

    .product-grid .product-links li {
        background-color: rgba(250,250,250,0.9);
        width: 40px;
        display: inline-block;
        opacity: 0;
        transition: all 0.3s ease 0s;
    }

        .product-grid .product-links li:first-child {
            background-color: rgba(34,34,34,0.9);
            width: calc(100% - 40px);
        }

.product-grid .product-image:hover .product-links li {
    opacity: 1;
}

.product-grid .product-links li a {
    color: #555;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 41px;
    height: 40px;
    display: block;
    transition: all 0.3s ease 0s;
}

.product-grid .product-links li:first-child a {
    color: #fff;
    background: transparent;
    transform: translateY(20px);
}

.product-grid .product-image:hover .product-links li:first-child a {
    transform: translateY(0);
}

.product-grid .product-links li:first-child a:hover {
    color: #fff;
    letter-spacing: 2px;
}

.product-grid .product-links li a:hover {
    color: #000;
}

.product-grid .product-content {
    background-color: #fff;
    text-align: left;
    padding: 15px 0 0;
    position: relative;
}

.product-grid .product-like-icon {
    color: #555;
    background: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    width: 36px;
    height: 36px;
    border-radius: 50px;
    box-shadow: 3px 5px 22px -7px rgba(1, 1, 1, 0.25);
    position: absolute;
    top: 14px;
    right: 5px;
    transition: all 0.3s ease 0s;
}

    .product-grid .product-like-icon:hover {
        color: #555;
        box-shadow: 3px 5px 22px -7px rgba(1, 1, 1, 0.25) inset;
    }

.product-grid .title {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    margin: 0 0 8px;
}

    .product-grid .title a {
        color: #333;
        transition: all 0.3s ease 0s;
    }

        .product-grid .title a:hover {
            color: #333;
            text-shadow: 3px 3px 0 rgba(0,0,0,0.3);
        }

.product-grid .price {
    color: #333;
    font-size: 15px;
    font-weight: 600;
}

    .product-grid .price span {
        color: #999;
        text-decoration: line-through;
        margin: 0 5px 0 0;
        display: inline-block;
    }

@media screen and (max-width:990px) {
    .product-grid {
        margin: 0 0 30px;
    }
}
